{% extends 'layouts/main.twig' %}

{% block title %}
    Каталог
{% endblock %}

{% block content %}
    {# {{ '2020-05-07'|date('d-m-Y') }} #}
    <h1>Товары</h1>
    {% for good in paginator.getItems() %}
        <p>
            <a href="/good/one?id={{ good.id }}">
                {{ good.name }}
            </a>
            <a href="/cart/add?id={{ good.id }}">
                добавить в корзину
            </a>
        </p>
    {% else %}
        Нет товаров
    {% endfor %}
    {% for key, url in paginator.getUrls() %}
        <a href="{{url}}">{{ key }}</a>
    {% endfor %}
{% endblock %}


